.flipCard {
	-webkit-perspective: 800;
	-ms-perspective: 800;
	-moz-perspective: 800;
	-o-perspective: 800;
	width: 98%;
	height: 195px;
	position: relative;
	margin: 50px auto;
	
}
.flipCard .card.flipped {
	transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg); /* IE 9 */
	-moz-transform: rotatey(-180deg); /* Firefox */
	-webkit-transform: rotatey(-180deg); /* Safari and Chrome */
	-o-transform: rotatey(-180deg); /* Opera */
}
.flipCard .card {
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: 0.5s;
	-moz-transform-style: preserve-3d;
	-moz-transition: 0.5s;
	-ms-transform-style: preserve-3d;
	-ms-transition: 0.5s;
	-o-transform-style: preserve-3d;
	-o-transition: 0.5s;
	transform-style: preserve-3d;
	transition: 0.5s;
}
.flipCard .card .side {
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
	box-sizing: border-box;
	z-index: 2;
	backface-visibility: hidden; /* W3C */
	-webkit-backface-visibility: hidden; /* Safari & Chrome */
	-moz-backface-visibility: hidden; /* Firefox */
	-ms-backface-visibility: hidden; /* Internet Explorer */
	-o-backface-visibility: hidden; /* Opera */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	overflow: auto;
	border: 1px solid #413e3e;
    border-width: 2px;
	border-radius: 10px;
}
.flipCard .card .back {
	
	border: 1px solid #413e3e;
    border-width: 2px;
	border-radius: 10px;
	background: white;
	color: black;
	transform: rotatey(-180deg);
	-ms-transform: rotatey(-180deg); /* IE 9 */
	-moz-transform: rotatey(-180deg); /* Firefox */
	-webkit-transform: rotatey(-180deg); /* Safari and Chrome */
	-o-transform: rotatey(-180deg); /* Opera */
}

.flipCard .card .front {
	font-family: Georgia;
	font-size: 3em;
	text-align: center;
	line-height: 160px;
	color: white;
	background-image: url(./imagelibrary/bg.jpg);
}
.flipCard .card .back {
	text-align: center;
	color: black;
	font-family: Georgia;
	font-size: 2em;
	background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}

#game > div {
	width: 20%;
	height: 200px;
	margin: 10px;
	display: inline-block;
	
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

label {
	display: block;
	margin: 0;
}

/*---------------------------------------------*/

.game-btn > button {
  outline: none !important;
	border: none;
	background: transparent;
	padding: 0 20px;
	width: 45%;
	height: 50px;
	border-radius: 10px;
	background: #6675df;
	font-size: 12px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
	margin-top: 20px;
	transition: all 0.4s;
}

form > button {
	outline: none !important;
	border: none;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 60%;
	height: 50px;
	border-radius: 10px;
	background: #6675df;
	font-size: 12px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
	margin-top: 20px;
	transition: all 0.4s;
}

button:hover {
	cursor: pointer;
	background: #404b46;
}

.wrap {
	width: 100%;
	background: #fff;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	flex-direction: row-reverse;
}

.wrap-control {
	width: 560px;
	min-height: 80vh;
	display: block;
	padding: 20px 55px 20px 55px;
	border: 1px solid #413e3e;
  border-width: 2px;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
}

.title {
	width: 100%;
	display: block;
	font-size: 30px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 48px;
}

.container-game {
	width: calc(95% - 560px);
	position: relative;
	padding: 30px 15px 0px 15px;
}

.label-input {
	font-size: 11px;
	color: #666666;
	line-height: 1.2;
	text-transform: uppercase;
	padding: 15px 0 2px 24px;
}

.input {
	display: block;
	width: 100%;
	background: transparent;
	font-size: 18px;
	color: #404b46;
	line-height: 1.2;
	padding: 0px 26px;
	height: 48px;
}

.wrap-control-input {
	width: 100%;
	position: relative;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
  margin-bottom: 20px;
	margin-top: 20px;
}

.wrap-control-p {
  display: block;
	width: 100%;
	background: transparent;
	font-size: 18px;
	color: #404b46;
	line-height: 1.2;
	padding: 0px;
	height: 48px;
}

.wrap-control-item {
	width: 100%;
	position: relative;
	border: 1px solid #e6e6e6;
	border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 15px 10px 15px 10px;
}

select {
	display: block;
	width: 80%;
	background: transparent;
	font-size: 18px;
	color: #404b46;
	line-height: 1.2;
	padding: 0px;
	height: 48px;
	margin: 10px;
}

